.pad-left {
  padding-left: 10px;
}

.pad-right {
  padding-right: 10px;
}

.pad-top {
  padding-top: 10px;
}

.pad-bottom {
  padding-bottom: 10px;
}

span.label {
  width: 20px;
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

img.profile-image {
  height: 90px;
  padding-bottom: 10px;
}
