section {
  &.drop-down-filter {
    padding-bottom: 10px;
    
    span {
      &.selected-item {
        margin-left: 10px;
      }

      &.remove-selected {
        cursor: pointer;
      }
    }
  }
}
